<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
            <div>
              <h3><%= podcast.name%></h3>
              <p><%= podcast.description%></p>
              <p><%= podcast.avatar%></p>
              <h5>likes: <span><%= podcast.likes%></span></h5>
             
                <a href="/podcast/<%= podcast._id%>">  <button class="btn">edit</button> 
                  <a href="/podcast/<%= podcast.id%>/edit">
                  <a href="/podcast/<%= podcast.id%>/delete">
                    <button class="btn">Delete</button>
                  </a>
              </a>
            </div>
 
</body>
</html>